.image {
  height: 350px;
  border: 1px rgb(193, 193, 193) solid;
  background-size: contain;
}

.image img {
  max-height: 100%;
}

.wrapper {
  padding: 60px;
}

.currentPage {
  text-align: center;
  position: sticky;
}

.items {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.item {
  border: 1px grey solid;
  font-size: 1.4rem;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.item:hover {
  box-shadow: 1px 1px 10px 3px #929292;
}

.name {
  margin-top: 15px;
  margin-bottom: 0;
}
