.wrapper {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px grey solid;
  padding: 0 60px;
}

.shoppingCart {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: 1px black solid;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}
